@model Truck.ViewModels.ForgotPasswordViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/css/main")
    <title>Forgot Password</title>
    <style>
        .login-bg {
            background: url(/assets/img/bgs/13.jpg) no-repeat center center fixed;
            filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/assets/img/bgs/13.jpg', sizingMethod='scale');
            -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/assets/img/bgs/13.jpg', sizingMethod='scale')";
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
    </style>
</head>
<body class="login-bg">
    <div class="container-fluid" style="padding:100px">
        @{
            ViewBag.Title = "Forgot your password?";
        }

        <h2>@ViewBag.Title.</h2>

        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <h4>Enter your email.</h4>
            <hr />
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "col-md-1 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-1 col-md-10">
                    <input type="submit" class="btn btn-default" value="Email Link" />
                </div>
            </div>
        }

    </div>

    @Scripts.Render("~/bundles/jquery")

    @Scripts.Render("~/bundles/jqueryval")

</body>
</html>
